[Unit]
Description=Sensor daemon for sensor framework
After=boardname.service
Requires=dbus.socket

[Service]
Type=forking 
ExecStartPre=/bin/sh /usr/bin/sensord-daemon-conf-setup
ExecStart=/usr/sbin/sensord -c=/etc/sensorfw/primaryuse.conf -d --log-level=warning
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=basic.target

