[Unit]
Description=Sensor daemon for sensor framwork
After=boardname.service

[Service]
Type=forking 
ExecStartPre=/bin/sh /usr/bin/sensord-daemon-conf-setup
ExecStart=/usr/sbin/sensord -c=/etc/sensorfw/primaryuse.conf -d --log-target=4 --log-file-path=/var/log/sensord.log
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=jolla-middleware.target

