Source: sensorfw-qt5
Section: misc
Priority: optional
Maintainer: Lorn Potter <lorn.potter@gmail.com>
Uploaders: 
Build-Depends: debhelper (>=5), qt5-default
Standards-Version: 3.7.3

Package: sensorfw-qt5
Section: misc
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a 
Description: Sensor framework daemon
 Provides sensor framework daemon and required libraries

Package: libsensorfw-qt5-plugins
Section: misc
Priority: extra
Architecture: any
Depends: sensorfw-qt5 (= ${binary:Version}), ${misc:Depends}, libqt5core5a
Description: Sensor framework daemon and libraries plugins
 Platform plugins for sensorfw.

Package: sensorfw-qt5-dbg
Section: misc
Priority: extra
Architecture: any
Depends: sensorfw-qt5 (= ${binary:Version}), ${misc:Depends}
Description: Sensor framework daemon and libraries debug symbols
 Debug symbols for sensor framework daemon and libraries.

Package: libsensorfw-qt5-dev
Section: libdevel
Priority: extra
Architecture: any
Depends: qt5-default, sensorfw-qt5 (= ${binary:Version})
Description: Sensor framework daemon libraries development headers
 Development headers for sensor framework daemon and libraries.

Package: libsensorfw-qt5-doc
Section: doc
Architecture: all
Priority: optional
Description: API documentation for libsensorfw
 Doxygen-generated API documentation for sensorfw.

Package: sensorfw-qt5-tests
Section: tests
Architecture: any
Depends: libqt5test5, sensorfw-qt5 (= ${binary:Version}), sysklogd, python, ${shlibs:Depends}
Description: Unit test cases for sensorfw

Package: libsensorfw-qt5-hybris
Section: misc
Priority: extra
Architecture: any
Depends: sensorfw-qt5 (= ${binary:Version}), libqt5core5a, android-headers, libhardware2
Description: Sensor framework hybris support
 Provides support for hybris Sensor framework backend.

Package: libsensorfw-qt5-configs
Section: misc
Priority: extra
Architecture: any
Depends: sensorfw-qt5 (= ${binary:Version}), libqt5core5a, android-headers, libhardware2
Description: Sensor framework hybris support
 Provides support for hybris Sensor framework backend.
