Source: sensord
Section: misc
Priority: optional
Maintainer: Antti Virtanen <antti.i.virtanen@nokia.com>
Uploaders: Timo Rongas <ext-timo.2.rongas@nokia.com>, Pia Niemelä <pia.s.niemela@nokia.com>, Markus Lehtonen <markus.lehtonen@nokia.com>, Semi Malinen <semi.malinen@nokia.com>
Build-Depends: debhelper (>=5), libqt5-dev, doxygen, libgconf2-dev 
Standards-Version: 3.7.3

Package: sensord
Section: misc
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5-core, libgconf2-6
Description: Sensor framework daemon
 Provides sensor framework daemon and required libraries

Package: sensord-dbg
Section: misc
Priority: extra
Architecture: any
Depends: sensord (= ${binary:Version}), ${misc:Depends}
Description: Sensor framework daemon and libraries debug symbols
 Debug symbols for sensor framework daemon and libraries.

Package: libsensord-dev
Section: libdevel
Priority: extra
Architecture: any
Depends: libqt5-dev, sensord (= ${binary:Version})
Description: Sensor framework daemon libraries development headers
 Development headers for sensor framework daemon and libraries.

Package: libsensord-doc
Section: doc
Architecture: all
Priority: optional
Description: API documentation for libsensord
 Doxygen-generated API documentation for sensord.

Package: sensord-tests
Section: tests
Architecture: any
Depends: ci-testing, sensord (= ${binary:Version}), sysklogd, python, ${shlibs:Depends}
XB-Maemo-CI-Packages: sensord
XB-Maemo-CI-Stage: fast, staging, acceptance, validation
Description: Unit test cases for sensord

Package: libsensord-hybris
Section: misc
Priority: extra
Architecture: any
Depends: sensord (= ${binary:Version}), libqt5-core, libgconf2-6, android-headers, libhardware
Description: Sensor framework hybris support
 Provides sensor framework hybris support

